{% extends "shop/base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}
    <h1>Оформлення замовлення</h1>
    <div class="order-info">
        <h3>Ваше замовлення:</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>{{ item.total_price }} grn.</span>
                </li>
            {% endfor %}
        </ul>
        <p>Всього: {{ cart.get_total_price }} grn.</p>
    </div>


<form action="." method="post" class="order-form">
    {% csrf_token %}
  <div class="form-group">
    <label for="id_first_name">Ім'я</label>
    <input id="id_first_name" maxlength="50" name="first_name" class="form-control"  type="text">
  </div>
  <div class="form-group">
    <label for="id_last_name">Фамілія:</label>
    <input id="id_last_name" maxlength="50" class="form-control" name="last_name" type="text">
  </div>

    <div class="form-group ">
      <label for="id_email">Email:</label>
      <input id="id_email" maxlength="254" class="form-control" name="email" type="email">
    </div>
    <div class="form-group ">
      <label for="id_address">Дом.адреса:</label>
      <input id="id_address" maxlength="250" class="form-control"  name="address" type="text">
    </div>
    <div class="form-group ">
      <label for="id_postal_code">Почтовий індекс:</label>
      <input id="id_postal_code" maxlength="20" class="form-control" name="postal_code" type="text">
    </div>
    <div class="form-group ">
      <label for="id_city">Місто:</label>
      <input id="id_city" maxlength="100"  class="form-control" name="city" type="text">
    </div>
  <button type="submit" class="btn btn-primary">Оформити замовлення</button>
</form>
{% endblock %}